<!DOCTYPE html>
<html lang="en">
<head>
	<title>pro</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <link rel="stylesheet" type="text/css" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/basic.css">
   
   
	 <script type="text/javascript" src="../static/bower_components/jquery/jquery.min.js"></script>
	 <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	 <script src="../static/js/pro_del_update.js"></script>
	
</head>
<body>